@{
    Layout = "_Layout";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary text-gradient" asp-controller="Home" asp-action="Index">Full
            Stack Designer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active text-white" asp-controller="Home"
                        asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Pianodistudio">Piano di studio</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Tecnologie">Tecnologie</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Progetti">Progetti</a></li>
            </ul>
        </div>
    </div>
</nav>


<body>
    <section class="bg-dark">
        <div class="container">
            <!-- Intestazione della pagina -->
            <header class="my-4">
                <h1 class="text-center text-gradient mb-5">Scopriamo Alwaysdata</h1>
            </header>

            <!-- Contenuto principale -->
            <div class="row">
                <!-- Colonna del contenuto principale -->
                <div class="col-md-8">
                    <article>
                        <h2 class="text-gradient">Cos'è Alwaysdata?</h2>
                        <p class="text-gradient cont--g">Alwaysdata è un provider di hosting web che offre una vasta
                            gamma di
                            servizi per gestire applicazioni web, database, e-mail e altri servizi internet. Si
                            distingue
                            per la sua versatilità, supportando numerosi linguaggi di programmazione come Python, PHP,
                            Ruby
                            e Node.js, rendendo la piattaforma adatta a una varietà di progetti web, dai siti personali
                            ai
                            grandi applicativi aziendali.</p>

                        <img src="/assets/alwaysdata.png" alt="" class="img-fluid mb-3">
                        <h5 class="text-gradient mb-5 mt-5">Funzionalità utilizzate su Alwaysdata</h5>
                        <!-- Inserisci qui altri paragrafi o sezioni -->
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card mb-3">
                                        <img src="/assets/always-4.png" class="card-img-top" alt="Image Description 1">
                                        <div class="card-body">
                                            <h5 class="card-title text-gradient">Lanciare il sito sul web</h5>
                                            <p class="card-text">Questo pannello di controllo è tipico per la gestione
                                                di
                                                database robusti e performanti, necessari per supportare siti web o
                                                applicazioni web complesse. La configurazione di un database
                                                "production"
                                                suggerisce che è pronto per essere utilizzato in un ambiente operativo
                                                di
                                                produzione. Inoltre, esiste anche la modalità sandbox, che permette agli
                                                sviluppatori di testare nuove funzionalità o modifiche in un ambiente
                                                isolato prima di implementarle nel database di produzione, garantendo
                                                così
                                                sicurezza e stabilità nelle operazioni.


                                            </p>

                                        </div>
                                    </div>
                                </div>





                                <div class="col-12">
                                    <div class="card mb-3">
                                        <img src="/assets/always-3.png" class="card-img-top" alt="Image Description 2">
                                        <div class="card-body">
                                            <h5 class="card-title text-gradient">Spazio utilizzato</h5>
                                            <p class="card-text">
                                                La sezione disco nel pannello di controllo di Alwaysdata fornisce
                                                informazioni dettagliate sullo spazio disco utilizzato e disponibile per
                                                l'account. Ecco cosa significano i dati mostrati in questa sezione:
                                                <span class="fw-bold">Spazio Disco Totale:</span> Indica la quantità
                                                totale
                                                di spazio disco allocato per l'account. Per gli account gratuiti, questo
                                                valore è limitato a una quantità predefinita, come 100 MB o 1 GB, a
                                                seconda
                                                del piano scelto.

                                                <span class="fw-bold">Spazio Disco Utilizzato:</span> Mostra quanto
                                                spazio è
                                                già stato utilizzato per file, database e altri dati. Questo aiuta gli
                                                utenti a monitorare quanto spazio resta disponibile.

                                                <span class="fw-bold">Spazio Disco Disponibile:</span> Questo è lo
                                                spazio
                                                rimanente che l'utente può ancora utilizzare. È calcolato sottraendo lo
                                                spazio utilizzato dallo spazio totale disponibile.

                                                <span class="fw-bold">Riassunto</span>

                                            </p>

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="card mb-3">
                                            <img src="/assets/always-5.png" class="card-img-top"
                                                alt="Image Description 3">
                                            <div class="card-body">
                                                <h5 class="card-title text-gradient">Traffico visitatori</h5>
                                                <p class="card-text">Visualizzazione dei Dati: Gli utenti possono
                                                    visualizzare vari tipi di dati relativi al traffico, come il numero
                                                    di
                                                    visite, le pagine più popolari, la durata delle sessioni, e le
                                                    sorgenti
                                                    di traffico.
                                                    Report e Grafici: Alwaysdata può generare report e grafici che
                                                    aiutano a
                                                    interpretare i dati raccolti, offrendo una panoramica chiara
                                                    dell'attività del sito.
                                                    Ottimizzazione del Sito: Queste analisi possono essere utilizzate
                                                    per
                                                    ottimizzare il sito, migliorando le aree che attraggono meno
                                                    visitatori
                                                    o potenziando quelle che generano maggior interesse.</p>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="card mb-3">
                                            <img src="/assets/always-7.png" class="card-img-top"
                                                alt="Image Description 4">
                                            <div class="card-body">
                                                <h5 class="card-title text-gradient">Utilizzo di PostgreSQL</h5>
                                                <p class="card-text">PostgreSQL è un sistema di gestione di database
                                                    relazionali ad oggetti (ORDBMS), conosciuto per la sua robustezza e
                                                    le
                                                    sue capacità avanzate. È open source e disponibile gratuitamente.
                                                    PostgreSQL supporta un ampio insieme di tipi di dati, compresi
                                                    quelli
                                                    primitivi come interi, numerici a precisione variabile e stringhe,
                                                    così
                                                    come tipi di dati complessi come array e tipi di dati geometrici.
                                                    Ecco
                                                    una panoramica delle sue principali caratteristiche e vantaggi:

                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                    </article>
                </div>

                </article>
            </div>



        </div>
        </div>
    </section>
</body>