@{
    Layout = "_Layout";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary text-gradient" asp-controller="Home" asp-action="Index">Full
            Stack Designer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active text-white" asp-controller="Home"
                        asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Pianodistudio">Piano di studio</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Tecnologie">Tecnologie</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Progetti">Progetti</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="container">
        <!-- Intestazione della pagina -->
        <header class="my-4">
            <h1 class="text-gradient fw-bold mt-3 mb-5">Scopriamo Bootstrap</h1>
        </header>

        <!-- Contenuto principale -->
        <div class="row">
            <!-- Colonna del contenuto principale -->
            <div class="col-md-8">
                <article>
                    <h2 class="text-gradient">Cos'è Bootstrap?</h2>
                    <p class="text-gradient">Bootstrap è un framework front-end popolare e gratuito per lo sviluppo web,
                        progettato per
                        facilitare la creazione di siti web responsive e mobile-first. Include una vasta collezione di
                        strumenti utili per il design di interfacce web, come sistemi di griglie, componenti
                        pre-progettati, e potenti plugin basati su JavaScript. Originariamente sviluppato da Twitter,
                        Bootstrap offre una serie di elementi HTML e CSS standardizzati, come form, pulsanti, tabelle e
                        caroselli, che possono essere facilmente personalizzati e integrati in qualsiasi progetto web.
                    </p>
                    <img src="/assets/temi-boots.png" alt="Immagine di ASP.NET" class="img-fluid mb-3">
                    <h5 class="text-gradient mb-5 mt-5">Scopriamo le funzionalità principali di Bootstrap:</h5>

                    <!-- Inserisci qui altri paragrafi o sezioni -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-3">
                                    <img src="/assets/boot-1.png" class="card-img-top" alt="Image Description 1">
                                    <div class="card-body">
                                        <h5 class="card-title text-gradient">Button su Bootstrap</h5>
                                        <p class="card-text"><span class="fw-bold">Base e Stili:</span> Bootstrap
                                            fornisce una classe base <span class="fw-bold">.btn</span> che deve essere
                                            applicata a tutti i pulsanti. Questa classe stabilisce le impostazioni di
                                            base come il padding, il bordo e le proprietà di tipografia. Per applicare
                                            uno stile specifico, si aggiunge una seconda classe come <span
                                                class="fw-bold">.btn-primary, .btn-secondary, .btn-success</span>, ecc.,
                                            per assegnare colori distintivi ai pulsanti in base al contesto di utilizzo
                                            (ad esempio, <span class="fw-bold">.btn-danger</span> per azioni di
                                            eliminazione).</p>
                                        <p class="card-text"><span class="fw-bold">Dimensioni:</span> Bootstrap permette
                                            di modificare la dimensione dei pulsanti utilizzando classi aggiuntive come
                                            <span class="fw-bold">.btn-lg</span> per pulsanti grandi, <span
                                                class="fw-bold">.btn-sm</span> per pulsanti piccoli e <span
                                                class="fw-bold">.btn-block</span> per estendere un pulsante affinché
                                            occupi l'intera larghezza del contenitore.
                                        </p>
                                        <p class="card-text"><span class="fw-bold">Stato Attivo e Disabilitato:</span> I
                                            pulsanti possono essere resi interattivi o disabilitati usando gli attributi
                                            HTML <span class="fw-bold">disabled</span> o aggiungendo la classe <span
                                                class="fw-bold">.disabled</span>. Questo cambia l'aspetto del pulsante
                                            per indicare che non è cliccabile.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card mb-3">
                                    <img src="/assets/boot-2.png" class="card-img-top" alt="Image Description 2">
                                    <div class="card-body">
                                        <h5 class="card-title text-gradient">Sistema a griglie</h5>
                                        <p class="card-text">
                                            <span class="fw-bold">Sistema Basato su Flexbox:</span> Il sistema di
                                            griglia di Bootstrap è costruito utilizzando CSS Flexbox, che fornisce un
                                            modo potente e flessibile per creare layout dinamici. Flexbox gestisce gli
                                            spazi tra gli elementi della griglia in modo più efficiente e permette
                                            allineamenti complessi sia in orizzontale che in verticale.
                                            <span class="fw-bold">Container:</span> La griglia deve essere avvolta in un
                                            elemento container, che può essere <span class="fw-bold">.container</span>
                                            per una larghezza responsive fissa, o <span
                                                class="fw-bold">.container-fluid</span> per una larghezza che si estende
                                            con i bordi della finestra del browser.

                                            <span class="fw-bold">Righe e Colonne:</span> Il sistema di griglia è basato
                                            su righe (<span class="fw-bold">.row</span>) e colonne (<span
                                                class="fw-bold">.col</span>). Le righe fungono da wrapper per le
                                            colonne, e ogni riga è formata da 12 colonne virtuali. Questo significa che
                                            il layout è suddiviso in 12 unità uguali per tutta la larghezza del
                                            container.

                                            <span class="fw-bold">Classi delle Colonne:</span> Le colonne sono create
                                            usando le classi <span class="fw-bold">.col</span> seguite da un suffisso
                                            che indica il numero di colonne da occupare (es. <span
                                                class="fw-bold">.col-6</span>). Bootstrap include anche classi
                                            responsive che consentono di specificare come le colonne si comportano su
                                            diversi dispositivi, ad esempio <span class="fw-bold">.col-md-6</span>
                                            indica che la colonna utilizza 6 delle 12 colonne su dispositivi medium
                                            (desktop) e superiori.

                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card mb-3">
                                    <img src="/assets/boot-3.png" class="card-img-top" alt="Image Description 3">
                                    <div class="card-body">
                                        <h5 class="card-title text-gradient">Diversi temi disponibili</h5>
                                        <p class="card-text">
                                            <span class="fw-bold">I temi gratuiti su Bootstrap</span> offrono un modo
                                            semplice e rapido per personalizzare l'aspetto delle applicazioni web senza
                                            dover partire da zero. Sono particolarmente utili per gli sviluppatori e i
                                            designer che vogliono implementare rapidamente un design coerente e
                                            professionale. Ecco una panoramica di come funzionano questi temi:
                                            <span class="fw-bold">Basati su Bootstrap:</span> I temi gratuiti sono
                                            costruiti sopra il framework Bootstrap, il che significa che utilizzano le
                                            sue classi base e la sua griglia per garantire che il layout sia responsive
                                            e mobile-friendly. I temi estendono il design standard di Bootstrap
                                            aggiungendo stili personalizzati per colori, tipografie, componenti e
                                            layout.

                                            <span class="fw-bold">Facilità di Implementazione:</span> Per usare un tema
                                            gratuito su Bootstrap, generalmente basta includere il CSS del tema dopo il
                                            CSS standard di Bootstrap nel tag <span class="fw-bold">

                                                <head>
                                            </span> del documento HTML. Questo sovrascrive alcuni degli stili
                                            predefiniti di Bootstrap con quelli specifici del tema, permettendo agli
                                            sviluppatori di sfruttare tutte le funzionalità di Bootstrap con un nuovo
                                            aspetto estetico.

                                            <span class="fw-bold">Personalizzazione:</span> Anche se i temi gratuiti
                                            offrono un design preconfezionato, molti di essi sono comunque
                                            personalizzabili. Gli sviluppatori possono modificare il CSS del tema per
                                            adattare colori, dimensioni, margini e altro ancora, per meglio adattarsi
                                            alle esigenze del loro progetto.

                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card mb-3">
                                    <img src="/assets/boot-4.png" class="card-img-top" alt="Image Description 4">
                                    <div class="card-body">
                                        <h5 class="card-title text-gradient">Classi e il loro utilizzo</h5>
                                        <p class="card-text">
                                            <span class="fw-bold">Standardizzazione e Reutilizzo:</span> Le classi
                                            Bootstrap forniscono uno standard di design coerente che può essere
                                            facilmente riutilizzato. Questo riduce il carico di lavoro dell'HTML,
                                            mantenendo il codice pulito e organizzato. Invece di definire stili
                                            individuali per ogni elemento, gli sviluppatori possono semplicemente
                                            applicare classi predefinite per gestire layout, tipografia, colori, e
                                            comportamenti interattivi.
                                            <span class="fw-bold">Sistema di Griglia:</span> Le classi di griglia di
                                            Bootstrap sono usate per creare layout responsive. Classi come <span
                                                class="fw-bold">.col-md-4</span> o <span class="fw-bold">.row</span>
                                            permettono di posizionare e dimensionare dinamicamente il contenuto su vari
                                            dispositivi, utilizzando un sistema di 12 colonne. Questo elimina la
                                            necessità di scrivere query media complesse in CSS, semplificando
                                            notevolmente la creazione di layout responsive.

                                            <span class="fw-bold">Componenti Visivi e Funzionali:</span> Bootstrap offre
                                            una vasta gamma di componenti pre-stilizzati come pulsanti (<span
                                                class="fw-bold">btn btn-primary</span>), card (<span
                                                class="fw-bold">card</span>), navbar (<span class="fw-bold">navbar
                                                navbar-expand-lg</span>), e molti altri. Utilizzare le classi Bootstrap
                                            per questi componenti significa che gli sviluppatori possono implementare
                                            funzionalità complesse e design attraenti semplicemente aggiungendo classi
                                            HTML appropriate, senza scrivere ulteriore codice CSS o JavaScript.

                                        </p>







                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </article>
            </div>


            </article>
        </div>


    </div>
    </div>


</body>