@{
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary text-gradient" href="index.html">Full Stack Designer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active text-white" asp-controller="Home"
                        asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Pianodistudio">Piano di studio</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Tecnologie">Tecnologie</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Progetti">Progetti</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <section class="bg-dark">
        <div class="container">
            <!-- Intestazione della pagina -->
            <header class="my-4">
                <h1 class="text-center fw-bold text-gradient">Scopriamo FileZilla</h1>
            </header>

            <!-- Contenuto principale -->
            <div class="row">

                <!-- Colonna del contenuto principale -->
                <div class="col-md-8">
                    <article>
                        <h2 class="text-gradient">Cos'è FileZilla?</h2>
                        <p class="text-gradient">FileZilla è un software gratuito e open-source che funge da client FTP,
                            FTPS e SFTP, permettendo
                            agli utenti di trasferire file tra il proprio computer locale e un server su internet. Con
                            una
                            interfaccia utente grafica intuitiva e multilingue, FileZilla è progettato per essere
                            semplice
                            da usare, ma al tempo stesso offre potenti funzionalità per utenti esperti.</p>
                        <img src="/assets/tesifilezilla.png" alt="" class="img-fluid mb-3">
                        <h4 class="text-gradient mb-4 mt-4">Funzionalità di FIleZilla:</h4>
                        <!-- Inserisci qui altri paragrafi o sezioni -->
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card mb-3">
                                        <img src="/assets/filezilla-2.webp" class="card-img-top"
                                            alt="Image Description 1">
                                        <div class="card-body">
                                            <h5 class="card-title text-gradient">Differenza tra SFTP & FTP</h5>
                                            <p class="card-text">
                                                <span class="fw-bold">Sicurezza:</span> FTP trasmette dati in chiaro,
                                                esponendo gli utenti a rischi di sicurezza come le intercettazioni. SFTP
                                                cifra i dati utilizzando il protocollo SSH, offrendo una protezione
                                                significativamente superiore.
                                            </p>
                                            <p class="card-text">
                                                <span class="fw-bold">Porta di Connessione:</span> FTP usa la porta 21
                                                per i comandi e porte multiple casuali per il trasferimento dei dati,
                                                complicando la configurazione di firewall. SFTP impiega una singola
                                                porta, solitamente la 22, semplificando la gestione della sicurezza di
                                                rete.
                                            </p>
                                            <p class="card-text">
                                                <span class="fw-bold">Funzioni e Comandi:</span> Entrambi permettono la
                                                gestione di file e cartelle, ma SFTP aggiunge funzionalità avanzate come
                                                la ripresa di trasferimenti interrotti, operando attraverso un canale
                                                sicuro.
                                            </p>
                                            <p class="card-text">
                                                <span class="fw-bold">Compatibilità con Firewall e NAT:</span> FTP
                                                presenta difficoltà nella configurazione con firewall e NAT a causa
                                                delle sue modalità di trasferimento attiva e passiva. SFTP è più
                                                compatibile con le configurazioni moderne di firewall grazie
                                                all'utilizzo di una sola connessione.
                                            </p>
                                            <p class="card-text">
                                                <span class="fw-bold">Uso in FileZilla:</span> Configurare FTP in
                                                FileZilla richiede hostname, nome utente, password e porta 21. SFTP
                                                richiede configurazioni simili, ma usa la porta 22 e potrebbe
                                                necessitare dell'importazione di chiavi SSH.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="card mb-3">
                                        <img src="/assets/filezilla-3.png" class="card-img-top"
                                            alt="Image Description 2">
                                        <div class="card-body">
                                            <h5 class="card-title text-gradient">Connessione al server</h5>
                                            <p class="card-text">
                                                In FileZilla, la distinzione tra la sezione dei file del sito locale e
                                                quella del server remoto aiuta a organizzare e gestire efficacemente il
                                                trasferimento di file tra il tuo computer e il server via FTP. Mentre la
                                                sezione locale mostra il contenuto del tuo dispositivo, la sezione
                                                remota rappresenta i file sul server. Queste due aree facilitano
                                                operazioni dirette come il caricamento e il download di file, oltre alla
                                                gestione ordinaria dei file in entrambe le ubicazioni.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="card mb-3">
                                <img src="/assets/filezilla-4.png" class="card-img-top" alt="Image Description 3">
                                <div class="card-body">
                                    <h5 class="card-title text-gradient">Avvio del server</h5>
                                    <p class="card-text">
                                        <strong>Per avviare un server con FileZilla Server, segui questi
                                            passaggi:</strong>
                                    </p>
                                    <p class="card-text">
                                        <strong>Installazione:</strong> Scarica e installa FileZilla Server dal sito
                                        ufficiale, configurando le opzioni desiderate durante l'installazione.
                                    </p>
                                    <p class="card-text">
                                        <strong>Configurazione Iniziale:</strong> Dopo l'installazione, avvia FileZilla
                                        Server e connettiti all'interfaccia di amministrazione per configurare le
                                        impostazioni del server. Qui puoi impostare la porta FTP, configurare SSL/TLS
                                        per le connessioni sicure, e creare utenti e gruppi con accessi specifici.
                                    </p>
                                    <p class="card-text">
                                        <strong>Avvio del Server:</strong> Utilizza l'interfaccia di amministrazione per
                                        avviare o fermare il server. Una volta avviato, il server ascolterà le
                                        connessioni in entrata sulla porta configurata.
                                    </p>
                                    <p class="card-text">
                                        <strong>Connessione Client:</strong> I client possono connettersi al server
                                        usando le credenziali fornite e iniziare a trasferire file.
                                    </p>
                                    <p class="card-text">
                                        <strong>Monitoraggio e Manutenzione:</strong> Continua a monitorare l'attività
                                        del server, gestisci gli utenti, e mantieni il server aggiornato attraverso
                                        l'interfaccia di amministrazione.
                                    </p>
                                    <p class="card-text">
                                        Questo processo fornisce un controllo completo sull'ambiente di hosting e sulle
                                        operazioni di file transfer, garantendo flessibilità e sicurezza nella gestione
                                        dei file.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="card mb-3">
                                <img src="/assets/filezilla-6.jpg" class="card-img-top" alt="Image Description 4">
                                <div class="card-body">
                                    <h5 class="card-title text-gradient">Funzionalità aggiuntive</h5>
                                    <p class="card-text"><span class="fw-bold">FileZilla</span> è un client FTP
                                        popolare compatibile con Windows che offre una serie di funzionalità
                                        utili
                                        per la gestione dei trasferimenti di file tra il computer locale e un
                                        server
                                        remoto. Ecco un riassunto delle principali funzionalità di FileZilla su
                                        Windows:
                                        <span class="fw-bold">Interfaccia Utente Intuitiva:</span> FileZilla
                                        presenta un'interfaccia grafica chiara e facilmente navigabile, che
                                        mostra
                                        contemporaneamente i file locali e quelli del server, permettendo un
                                        facile
                                        drag-and-drop per il trasferimento dei file.

                                        <span class="fw-bold">Supporto per FTP, FTPS e SFTP:</span> FileZilla
                                        supporta diversi protocolli di trasferimento, inclusi FTP (File Transfer
                                        Protocol), FTPS (FTP Secure), e SFTP (SSH File Transfer Protocol),
                                        offrendo
                                        flessibilità e sicurezza nelle connessioni al server.
                                    </p>

                                </div>
                            </div>
                        </div>
                </div>
            </div>



            </article>
        </div>

        </article>
        </div>



        </div>
        </div>
    </section>
</body>