@{
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary text-gradient" asp-controller="Home" asp-action="Index">Full
            Stack Designer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active text-white" asp-controller="Home"
                        asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Pianodistudio">Piano di studio</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Tecnologie">Tecnologie</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Progetti">Progetti</a></li>
            </ul>
        </div>
    </div>
</nav>


<body>
    <section class="bg-dark">
        <section class="bg-dark"></section>
        <div class="container">
            <!-- Intestazione della pagina -->
            <header class="my-4">
                <h1 class="text-center text-gradient fw-bold mb-4">Scopriamo Github</h1>
            </header>

            <!-- Contenuto principale -->
            <div class="row">
                <!-- Colonna del contenuto principale -->
                <div class="col-md-8">
                    <article>
                        <h2 class="text-gradient">Cos'è Github?</h2>
                        <p class="text-gradient">GitHub è una piattaforma di sviluppo collaborativo utilizzata per
                            ospitare
                            codice sorgente e gestire progetti software attraverso il sistema di controllo versione Git.
                            È
                            una delle piattaforme più popolari e ampiamente utilizzate dagli sviluppatori di software in
                            tutto il mondo, consentendo loro di collaborare su progetti da qualsiasi luogo.</p>
                        <img src="/assets/githu4.png" alt="" class="img-fluid mb-3">
                        <h4 class="text-gradient mb-4 mt-4">Funzionalità di GitHub:</h4>
                        <!-- Inserisci qui altri paragrafi o sezioni -->
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card mb-3">
                                        <img src="/assets/git-1.png" class="card-img-top" alt="Image Description 1">
                                        <div class="card-body">
                                            <h5 class="card-title text-gradient">Comunicazioni bug</h5>
                                            <p class="card-text"><span class="fw-bold">GitHub</span> è una piattaforma
                                                essenziale per la gestione del codice sorgente che offre numerosi
                                                strumenti
                                                per migliorare la collaborazione e la comunicazione all'interno di un
                                                team
                                                di sviluppo, soprattutto quando si tratta di identificare e gestire i
                                                bug.
                                                La funzionalità <span class="fw-bold">"Issues"</span> di GitHub permette
                                                agli utenti di segnalare problemi specifici, che possono includere bug,
                                                richieste di miglioramenti, o qualsiasi altra questione legata al
                                                progetto.
                                                Quando un bug è identificato, un membro del team o un contributore
                                                esterno
                                                può aprire un <span class="fw-bold">"Issue"</span>, fornendo una
                                                descrizione
                                                dettagliata del problema, comprese le condizioni in cui si verifica e,
                                                se
                                                possibile, suggerimenti su come riprodurlo. Queste segnalazioni possono
                                                essere etichettate per facilitarne la categorizzazione e la priorità,
                                                come
                                                <span class="fw-bold">"bug"</span> o <span
                                                    class="fw-bold">"urgente"</span>,
                                                e possono essere assegnate a specifici membri del team per la
                                                risoluzione.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="card mb-3">
                                        <img src="/assets/github3.png" class="card-img-top" alt="Image Description 2">
                                        <div class="card-body">
                                            <h5 class="card-title text-gradient">Indicazioni</h5>
                                            <span class="fw-bold">Personalizzazione del Tema:</span> Ho utilizzato il
                                            tema
                                            "modern-business" per Bootstrap come base, adattandolo per rispecchiare il
                                            mio
                                            stile personale e le esigenze specifiche del sito. <span
                                                class="fw-bold">Dinamicità di Blog e Portfolio:</span> Ho implementato
                                            funzioni che permettono una gestione dinamica dei contenuti, permettendo
                                            così
                                            aggiornamenti frequenti e facili da gestire tramite un pannello di
                                            amministrazione personalizzato. <span class="fw-bold">Funzionalità del Form
                                                Contatti:</span> Ho reso operativo il form di contatto, garantendo che i
                                            visitatori possano facilmente comunicare con me. Questo include la verifica
                                            e la
                                            validazione dei dati inseriti per evitare spam e errori. <span
                                                class="fw-bold">Autenticazione e Gestione Utenti:</span> Ho implementato
                                            un
                                            sistema di login che permette agli utenti di registrarsi e accedere per
                                            interagire con il sito in modo più significativo. <span
                                                class="fw-bold">Connettività Database:</span> Ho stabilito una
                                            connessione
                                            affidabile con un database per gestire in modo efficiente i dati del sito,
                                            compresi i post del blog, le voci del portfolio e le informazioni degli
                                            utenti.
                                            <span class="fw-bold">Sicurezza e Autenticazione:</span> Ho integrato
                                            soluzioni
                                            di autenticazione robuste per proteggere le aree amministrative del sito e
                                            garantire la sicurezza dei dati degli utenti. <span class="fw-bold">Gestione
                                                di
                                                Articoli e Progetti:</span> Dal pannello di amministrazione, posso ora
                                            gestire facilmente i contenuti del sito, aggiungendo, modificando o
                                            eliminando
                                            articoli e aggiornamenti di progetti. <span class="fw-bold">Pubblicazione e
                                                Hosting:</span> Infine, ho pubblicato il sito su un server, rendendolo
                                            accessibile a un pubblico globale e assicurando che sia performante e
                                            accessibile.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="card mb-3">
                                        <img src="/assets/git-8.png" class="card-img-top" alt="Image Description 4">
                                        <div class="card-body">
                                            <h5 class="card-title text-gradient">Aggiornare la repository</h5>
                                            <p class="card-text">
                                                <span class="fw-bold">Git Push:</span>
                                                Il comando <span class="fw-bold">git push</span> viene utilizzato per
                                                inviare le modifiche locali al repository remoto. Questo comando è
                                                essenziale per condividere il progresso del tuo lavoro con altri membri
                                                del
                                                team o per pubblicare aggiornamenti su un repository pubblico. Quando
                                                esegui
                                                <span class="fw-bold">git push</span>, Git tenta di aggiornare il
                                                repository
                                                remoto con i commit che hai nel tuo repository locale che non sono
                                                ancora
                                                nel remoto. Prima di poter eseguire un push con successo, è necessario
                                                avere
                                                i permessi di scrittura sul repository remoto, e il tuo repository
                                                locale
                                                deve essere aggiornato con eventuali modifiche che potrebbero essersi
                                                verificate nel remoto (questo di solito richiede un <span
                                                    class="fw-bold">git pull</span> prima del push se altre persone
                                                stanno
                                                lavorando sullo stesso progetto).
                                                <span class="fw-bold">Git Pull:</span>
                                                Il comando <span class="fw-bold">git pull</span>, d'altra parte, è
                                                utilizzato per aggiornare il repository locale con le modifiche presenti
                                                nel
                                                repository remoto. Questo comando è una combinazione di <span
                                                    class="fw-bold">git fetch</span> seguito da <span
                                                    class="fw-bold">git
                                                    merge</span>, dove <span class="fw-bold">git fetch</span> scarica i
                                                commit recenti dal repository remoto e <span class="fw-bold">git
                                                    merge</span> fonde questi nuovi commit nella branch corrente del tuo
                                                repository locale. <span class="fw-bold">git pull</span> mantiene
                                                sincronizzato il tuo lavoro locale con quello degli altri collaboratori,
                                                assicurando che hai l'ultima versione del codice su cui stai lavorando.

                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </article>
                </div>

                </article>
            </div>



        </div>
        </div>
    </section>
</body>