@{
    Layout = "_Layout";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary text-gradient" asp-controller="Home" asp-action="Index">Full
            Stack Designer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active text-white" asp-controller="Home"
                        asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Pianodistudio">Piano di studio</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Tecnologie">Tecnologie</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Progetti">Progetti</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="bg-dark">


    <div class="container mt-5 text-white">
        <h2 class="mb-3 text-center text-gradient fw-bold mb-5">Metodologia utilizzata durante lo stage</h2>

        <div class="custom-card">
            <div class="card-body">
                <h4 class="card-title text-center text-gradient fw-bold">Inizio Progetto</h4>
                <p class="card-text text-center text-gradient fw-bold"><i class="glyphicon glyphicon-time"></i>
                    Progettazione
                    con Adobe XD</p>
                <p class="card-text">Il processo di creazione del sito web inizia con la progettazione del wireframe
                    utilizzando Adobe XD. Questo strumento permette di delineare una struttura chiara del sito,
                    organizzando contenitori e componenti che saranno poi convertiti in codice HTML e CSS. Questa fase è
                    cruciale per definire l'esperienza utente (UX) e assicurarsi che il design sia intuitivo e
                    funzionale.</p>
            </div>
        </div>

        <div class="custom-card">
            <div class="card-body">
                <h4 class="card-title text-center text-gradient fw-bold">Sviluppo</h4>
                <p class="card-text text-center text-gradient fw-bold"><i class="glyphicon glyphicon-time"></i> Da Adobe
                    XD a
                    Codice</p>
                <p class="card-text">Una volta completato il wireframe, si passa alla fase di sviluppo. L'attenzione si
                    concentra sulle funzionalità chiave del sito. Utilizziamo temi di Bootstrap, che possono essere sia
                    gratuiti sia a pagamento, per costruire una base solida e responsive. Le classi di Bootstrap
                    aiutano a posizionare gli elementi in modo efficace, mentre JavaScript viene impiegato per
                    aggiungere dinamismo a sezioni interattive del sito.</p>
            </div>
        </div>

        <div class="custom-card">
            <div class="card-body">
                <h4 class="card-title text-center text-gradient fw-bold">Perfezionamento dell'Interfaccia Utente (UI)
                </h4>
                <p class="card-text text-center text-gradient fw-bold"><i class="glyphicon glyphicon-time"></i>
                    Modifiche css
                </p>
                <p class="card-text">Dopo aver assicurato la funzionalità del sito, il focus si sposta sull'aspetto
                    visivo. Questo include la personalizzazione dei colori di sfondo, l'inserimento di immagini, e la
                    modifica delle dimensioni e della forma dei pulsanti. Inoltre, si apportano modifiche estetiche alla
                    navbar e al footer. Tutte queste modifiche sono realizzate attraverso CSS per migliorare
                    l'interfaccia utente e offrire una navigazione piacevole e coinvolgente.</p>
            </div>
        </div>

        <div class="custom-card">
            <div class="card-body">
                <h4 class="card-title text-center text-gradient fw-bold">Lancio</h4>
                <p class="card-text text-center text-gradient fw-bold"><i class="glyphicon glyphicon-time"></i> Lancio e
                    Test
                </p>
                <p class="card-text">Il sito è inizialmente lanciato in un ambiente sandbox su alwaysdata, che permette
                    di testare le funzionalità in un ambiente sicuro e controllato. Questo step è fondamentale per
                    verificare la stabilità e l'usabilità del sito prima del lancio ufficiale. Superata la fase di test,
                    il sito viene pubblicato in rete utilizzando strumenti come FileZilla ed Alwaysdata, garantendo un
                    rilascio fluido e professionale.</p>
            </div>
        </div>
    </div>
</section>
