@{
    Layout = "_Layout";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary text-gradient" asp-controller="Home" asp-action="Index">Full
            Stack Designer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active text-white" asp-controller="Home"
                        asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Pianodistudio">Piano di studio</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Tecnologie">Tecnologie</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Home"
                        asp-action="Progetti">Progetti</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="container">
        <header class="text-center header mt-3">
            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Scopriamo Ubuntu</span>
            </h2>
        </header>

        <div class="row">
            <div class="col-md-8 content-section">
                <article>
                    <h2 class="text-gradient">Cos'è Ubuntu?</h2>
                    <p class="text-gradient">Ubuntu è una distribuzione Linux basata su Debian, ampiamente utilizzata
                        sia su computer desktop
                        che su server. È conosciuta per la sua facilità d'uso e per l'ampia comunità di supporto che la
                        rende accessibile anche agli utenti meno esperti. Ubuntu viene rilasciato in diverse versioni
                        regolari, con aggiornamenti di sicurezza garantiti per ciascuna versione.</p>
                    <img src="/assets/tesi-ubuntu.png" alt="Immagine di ASP.NET" class="img-fluid mb-3">
                    <h4 class="text-gradient mb-4 mt-4">Utilizzo di Ubuntu:</h4>
                    <!-- Additional paragraphs or sections can be easily added here -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-3">
                                    <img src="/assets/ubuntu-2.png" class="card-img-top" alt="Image Description 1">
                                    <div class="card-body">
                                        <h5 class="card-title text-gradient">Funzionalità Ubuntu</h5>
                                        <p><span class="fw-bold">Ubuntu</span> è una distribuzione Linux basata su
                                            Debian, nota per la sua facilità d'uso e il suo ampio supporto hardware. È
                                            uno dei sistemi operativi open source più popolari, utilizzato sia per
                                            computer desktop che per server. Ubuntu si distingue per la sua regolare
                                            release semestrale di versioni nuove, garantendo così <span
                                                class="fw-bold">aggiornamenti frequenti</span> e accesso alle ultime
                                            tecnologie. Oltre a una vasta selezione di software disponibile tramite il
                                            suo gestore di pacchetti, Ubuntu offre un'interfaccia utente pulita e
                                            intuitiva chiamata <span class="fw-bold">GNOME</span>, che è stata adottata
                                            come ambiente desktop predefinito nelle versioni recenti. Ubuntu è
                                            particolarmente apprezzato nella comunità dei developer per la sua <span
                                                class="fw-bold">stabilità</span> e <span
                                                class="fw-bold">sicurezza</span>, rendendolo una scelta affidabile sia
                                            per gli utenti domestici che per gli ambienti professionali. Inoltre, grazie
                                            al supporto della vasta comunità di utenti e sviluppatori, Ubuntu offre
                                            eccellente documentazione e assistenza.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card mb-3">
                                    <img src="/assets/ubuntu-3.png" class="card-img-top" alt="Image Description 2">
                                    <div class="card-body">
                                        <h5 class="card-title text-gradient">Aziende che utilizzano Ubuntu</h5>

                                        <p>Molte delle <span class="fw-bold">grandi aziende</span> scelgono Ubuntu come
                                            loro sistema operativo a causa delle sue robuste capacità e affidabilità.
                                            Una delle ragioni principali è la <span class="fw-bold">stabilità</span> del
                                            sistema, che è essenziale per mantenere le operazioni aziendali senza
                                            interruzioni. Ubuntu offre anche <span class="fw-bold">aggiornamenti di
                                                sicurezza regolari</span> e a lungo termine, critici per proteggere i
                                            dati sensibili e le infrastrutture aziendali da vulnerabilità emergenti.
                                            Inoltre, Ubuntu è altamente <span class="fw-bold">scalabile</span>,
                                            adattandosi facilmente sia a piccoli server locali che a vasti data center
                                            nel cloud. Questa versatilità lo rende ideale per aziende che crescono
                                            rapidamente o che gestiscono carichi di lavoro variabili. Altro fattore
                                            chiave è il supporto per un'ampia varietà di applicazioni e tecnologie,
                                            compresi i container e le orchestrazioni di container come Docker e
                                            Kubernetes, rendendo Ubuntu una scelta strategica per le aziende che
                                            adottano pratiche di <span class="fw-bold">devops</span> e cloud computing.
                                            Infine, la <span class="fw-bold">comunità di supporto</span> globale e
                                            attiva e le opzioni di supporto commerciale disponibili direttamente da
                                            Canonical garantiscono che le aziende ricevano l'aiuto necessario per
                                            mantenere i loro sistemi efficienti e aggiornati.</p>

                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>



                </article>
            </div>
            </article>
        </div>


    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>